/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    background-color: ghostwhite;
    color:#103f95;
    margin:0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Quicksand",sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.scale{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.pointer{
    cursor: pointer;
}

h1{
    font-weight: 400;
    padding-left: 7px;
}

.blur{
    -webkit-filter: blur(3px);
            filter: blur(3px);
}
/* START ------------------------------------------------------------ Table style */

table{
    margin: 20px auto;
    width: 450px;
    border-collapse: collapse;
    text-align: center;
    border: 1.5px double gray;
    font-size: 27px;
    background-color: aliceblue;
}
.right{
    border-right: 1.5px double gray;
}
.bottom{
    border-bottom: 1.5px double gray;
}
td{
    border:1px solid gainsboro;
    outline: none;
    width: 50px;
    height: 50px;
    color: transparent;
    text-shadow: 0 0 black;
}
td:focus{
    background-color: #c9e0f5;
}
.focused{
    background-color: #c9e0f5;
}
.wrong{
    background-color:#e01717 !important;
    opacity: .76;
}
.correct{
    background-color:forestgreen !important;
    opacity: .85;
}

/* Table style -------------------------------------------------------------- END */

/* START ------------------------------------------------------------ Controls style */

.difficulty-headline{
    font-size: 19px;
    color: #545454;
    margin-top: 86px;
    display: inline-block;
}
.fas{
    margin-left:5px;
    color: gray;
}
.fa-minus{
    display: none;
}
#timer{
    display: inline-block;
    margin-left: 133px;

}
.difficulty{
    margin-left: 15px;
    text-align: center;
    display: none;
}
.slider{
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    height: 6px;
    background-color: #0175fda8;
    outline: none;
    width: 85%;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
            appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #0175fd;
}
::-moz-range-thumb{
      -moz-appearance: none;
           appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #0175fd;  
}
.difficulty span{
    font-weight: 600;
}
.difficulty span:nth-child(1){
    display: block;
}
.margin{
    margin-right: 148px;
}
#numpad{
    font-size: 60px;
    text-align: center;
    font-weight: 100;
}
.num{
    margin:5px;
    display: inline-block;
    -webkit-box-shadow: 1px 1px 5px lightgrey;
            box-shadow: 1px 1px 5px lightgrey;
    border-radius: 20px;
}
.num:hover{
    -webkit-box-shadow: 2px 2px 5px lightgrey;
            box-shadow: 2px 2px 5px lightgrey;
}
.btn{
    background-color: ghostwhite;
    border: none;
    outline: none;
    -webkit-box-shadow: 2px 3px 5px lightgrey;
            box-shadow: 2px 3px 5px lightgrey;
    border-radius: 10px;
    font-family: 'Quicksand',sans-serif;
}
#instructions-btn{
    margin-top: 9px;
    background-color: #2e54a7;
    color: ghostwhite;
    font-size: 23px;
    width: 94%;
    height: 30px;
    opacity: .94;
}
#instructions-btn:hover{
    opacity: 1;
    border: none;
    -webkit-box-shadow: 2px 3px 5px lightgrey;
            box-shadow: 2px 3px 5px lightgrey;
}
.btn:hover{
    border:1.5px solid;
    -webkit-box-shadow: 4px 6px 5px lightgrey;
            box-shadow: 4px 6px 5px lightgrey;
}
#hint{
    width: 3em;
}
.instructions-overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #000000ab;
    z-index: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    display: none;
    top: 0 !important;
}
.instructions{
    width: 46%;
    height: auto;
    background-color: ghostwhite;
    margin: auto;
    margin-top: 5vh;
    border-radius: 20px;
    padding: 15px;
    text-align: justify;
}
.instructions h1{
    margin:0;
}
.fa-times-circle{
    float: right;
    font-size: .75em;
    margin-top: 8px;
}
.instructions p{
    font-size: 1.2em;
    padding: 0 17px;
    color: black;
}

/* Numpad style -------------------------------------------------------------- END */

/* START ------------------------------------------------------------ Media query */

@media (pointer:fine){
    table, .num, .btn, input, .difficulty-headline, .difficulty span {
        cursor: pointer;
    }
}
@media only screen and (max-width: 800px){
    .scale{
        display: block;
    }
    table{
        width: 96%;
    }
    td{
        font-size: 30px;
    }
    #numpad{
        font-size: 8vw;
        margin-bottom: 6px;
    }
    .num{
        width: 7.9vw;
        margin: 0;
    }
    .first-row{
        width: 94%;
    }
    .buttons{
        text-align: center;
    }
    #hint{
        width: 42vw;
    }
    .btn{
        font-size: 7vw;
        margin: 6px;
        color:#103f95;
        width: 42vw;
    }
    #instructions-btn{
        font-size: 5vw;
        width: 87vw;
        height: auto;
    }
    .btn:hover{
        border:none;
    }
    .difficulty{
        margin-bottom: 15px;
    }
    .difficulty-headline{
        margin-top: 0;
        font-size: 20px;
        margin-left: 6vw;
        font-size: 3.5vw;
    }
    #timer{
        font-size: 3.4vw;
        float: right;
        margin-right: 1vw;
        margin-left: 0;
    }
    .margin{
        margin-right: 64%;
    }
    .instructions{
        width: 85%;
    }
}
@media only screen and (max-width: 470px){
    td{
        font-size: 22px;
    }
    .instructions h1{
        font-size: 1.5em;
    }
    .fa-times-circle {
        margin-top: 6px;
    }
    .instructions p {
        font-size: 1em;
        padding:2px;
    }
    .difficulty{
        font-size: 0.8em;
    }
    #timer, .difficulty-headline{
        font-size: 15px;
    }
}

@media only screen and (min-width: 700px){
    #numpad{
    font-size: 7vw;
    }
    .btn{
        font-size: 6vw;
    }
}

@media only screen and (min-width: 801px){
    table{
        margin:20px;
    }
    .controls{
        width: 310px;
    }
     #numpad{
        margin-top: 29px;
        margin-left: 15px;
        font-size: 50px;
    }
    .num{
        width: 71px;
    }
    .buttons{
        margin-top: 19px;
        margin-left: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .btn{
        height: 62px;
        font-size: 31px;
        color:#103f95;
    }
}

@media only screen and (min-width: 1630px){
    .scale{
        -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
                transform: scale(1.5);
        margin: 144px auto;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 49%;
    }
    .instructions{
        -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
                transform: scale(1.5);
        margin-top: 250px;
    }
}
/* Media query -------------------------------------------------------------- END */

/* START ------------------------------------------------------------ Animations */

.light-up {
  -webkit-animation: light-up .6s;
          animation: light-up .6s;
}
@-webkit-keyframes light-up {
  0% {
    background-color: forestgreen   ;
    opacity: .75;
  }
  50%{
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    background-color: aliceblue;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes light-up {
  0% {
    background-color: forestgreen   ;
    opacity: .75;
  }
  50%{
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    background-color: aliceblue;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.intro{
    -webkit-animation: intro .70s;
            animation: intro .70s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}
@-webkit-keyframes intro {
  0% {
    opacity: .1;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes intro {
  0% {
    opacity: .1;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.intro-letter{
    -webkit-animation: intro-letter .5s;
            animation: intro-letter .5s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}
@-webkit-keyframes intro-letter {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes intro-letter {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Animations -------------------------------------------------------------- END */