@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    background-color: ghostwhite;
    color:#103f95;
    margin:0;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    font-family: "Quicksand",sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    /* Vendor prefixes copied from Deni J. at Stack Overflow: https://stackoverflow.com/a/4407335/14522350 */
}

.pointer{
    cursor: pointer;
}

h1{
    font-weight: 400;
    padding-left: 7px;
}

/* START ------------------------------------------------------------ Table style */

table{
    margin: 20px auto;
    width: 450px;
    border-collapse: collapse;
    text-align: center;
    border: 1.5px double gray;
    font-size: 27px;
    background-color: aliceblue;
}
.right{
    border-right: 1.5px double gray;
}
.bottom{
    border-bottom: 1.5px double gray;
}
td{
    border:1px solid gainsboro;
    outline: none;
    width: 50px;
    height: 50px;
    color: transparent;
    text-shadow: 0 0 black;
}
td:focus{
    background-color: #c9e0f5;
}
.focused{
    background-color: #c9e0f5;
}
.wrong{
    background-color:#e01717 !important;
    opacity: .76;
}
.correct{
    background-color:forestgreen !important;
    opacity: .85;
}

/* Table style -------------------------------------------------------------- END */

/* START ------------------------------------------------------------ Controls style */

.difficulty-headline{
    font-size: 19px;
    color: gray;
    margin-top: 86px;
}
.fas{
    margin-left:5px;
}
.fa-minus{
    display: none;
}
.difficulty{
    margin-left: 15px;
    text-align: center;
    display: none;
}
.slider{
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    height: 6px;
    background-color: #0175fda8;
    outline: none;
    width: 85%;
}
.slider::-webkit-slider-thumb{
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #0175fd;
}
::-moz-range-thumb{
      appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #0175fd;  
}
.difficulty span{
    font-weight: 600;
}
.margin{
    margin-right: 148px;
}
#numpad{
    font-size: 60px;
    text-align: center;
    font-weight: 100;
}
.num{
    margin:5px;
    display: inline-block;
    box-shadow: 1px 1px 5px lightgrey;
    border-radius: 20px;
}
.num:hover{
    box-shadow: 2px 2px 5px lightgrey;
}
.btn{
    background-color: ghostwhite;
    border: none;
    outline: none;
    box-shadow: 2px 3px 5px lightgrey;
    border-radius: 10px;
    font-family: 'Quicksand';
}
.btn:hover{
    border:1.5px solid;
    box-shadow: 4px 6px 5px lightgrey;
}
#hint{
    width: 3em;
}

/* Numpad style -------------------------------------------------------------- END */

/* START ------------------------------------------------------------ Media query */

@media (pointer:fine){
    table, .num, .btn, input, .difficulty-headline{
        cursor: pointer;
    }
}
@media only screen and (max-width: 800px){
    table{
        width: 96%;
    }
    td{
        font-size: 30px;
    }
    #numpad{
        font-size: 8vw;
    }
    .num{
        width: 1em;
        margin: 0;
        margin-bottom: 20px;
    }
    .btn{
        font-size: 7vw;
        margin-left: 1.2em;
            color:#103f95;

    }
    .btn:hover{
        border:none;
    }
    .difficulty{
        margin-bottom: 15px;
    }
    .difficulty-headline{
        margin-top: 0;
    }
    .margin{
        margin-right: 215px;
    }
}
@media only screen and (max-width: 470px){
    td{
        font-size: 22px;
    }
}

@media only screen and (min-width: 700px){
    #numpad{
    font-size: 7vw;
    }
    .btn{
        font-size: 6vw;
    }

}

@media only screen and (min-width: 801px){
    table{
        margin:20px;
    }
    .controls{
        width: 310px;
    }
     #numpad{
        margin-top: 35px;
        margin-left: 15px;
        font-size: 50px;
    }
    .num{
        width: 71px;
    }
    .buttons{
        margin-top: 19px;
        margin-left: 15px;
        display: flex;
        justify-content: space-around;
    }
    .btn{
        height: 62px;
        font-size: 31px;
            color:#103f95;

    }
}

@media only screen and (min-width: 1630px){
    body{
        transform: scale(1.5);
        width: 50%;
        margin: 144px auto;
    }
}
/* Media query -------------------------------------------------------------- END */

/* START ------------------------------------------------------------ Animations */

.light-up {
  animation: light-up .6s;
}
@keyframes light-up {
  0% {
    background-color: forestgreen   ;
    opacity: .75;
  }
  50%{
    transform: scale(1.15);
  }
  100% {
    background-color: aliceblue;
    opacity: 1;
    transform: scale(1);
  }
}

.intro{
    animation: intro .70s;
    animation-timing-function: linear;
}
@keyframes intro {
  0% {
    opacity: .1;
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.intro-letter{
    animation: intro-letter .5s;
    animation-timing-function: ease-in;
}
@keyframes intro-letter {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animations -------------------------------------------------------------- END */
