@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Yusei+Magic&display=swap');

body{
    background-color: ghostwhite;
    margin:0;
}

/* START ------------------------------------------------------------ Table style */

table{
    margin: 20px auto;
    width: 450px;
    border-collapse: collapse;
    text-align: center;
    border: 1.5px solid gray;
    font-family: "Quicksand", sans-serif;
    font-size: 27px;
    background-color: aliceblue;
}
.double-border{
    border-right: 1.5px solid gray;
}
.double-border-bot{
    border-bottom: 1.5px solid gray;
}
td{
    border:1px solid gainsboro;
    outline: none;
    width: 50px;
    height: 50px;
    color: transparent;
    text-shadow: 0 0 black;
}
td:focus{
    background-color: #c9e0f5;
}
.focused{
     background-color: #c9e0f5;

}
.wrong{
    background-color:#e01717 !important;
    opacity: .76;
}
.correct{
    background-color:forestgreen !important;
    opacity: .85;
}

/* Table style -------------------------------------------------------------- END */

/* START ------------------------------------------------------------ Numpad style */

#numpad{
    font-size: 45px;
    font-family: 'Quicksand';
    text-align: center;
    font-weight: 100;
}
.num{
    margin:5px;
}

/* Numpad style -------------------------------------------------------------- END */

/* Media query */

@media only screen and (max-width: 470px){
    table{
        width: 96%;
    }
    td{
        font-size: 22px;
    }
    #numpad{
        font-size: 9vw;
    }
}

/* Animations */

.light-up {
  animation: light-up .6s;
}
@keyframes light-up {
  0% {
    background-color: forestgreen   ;
    opacity: .75;
  }
  50%{
    transform: scale(1.15);
  }
  100% {
    background-color: aliceblue;
    opacity: 1;
    transform: scale(1);
  }
}

.intro{
    animation: intro .70s;
    animation-timing-function: linear;
}
@keyframes intro {
  0% {
    opacity: .1;
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.intro-letter{
    animation: intro-letter .5s;
    animation-timing-function: ease-in;
}
@keyframes intro-letter {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}